/* ------------------
    font style 
--------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* common styes */
body{
    font-family: 'Poppins', sans-serif;
    background-color: ivory ;
}
/* -----------------
header style start
------------------- */
.main-header{
    background-color:  #2D25A0;
    height: 650px;
}
.first-area{
    display: flex;
    justify-content: center;
}
.half-width{
    width: 50%;
}
.header-name{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 64px;
    margin-left: 156px;
    margin-top: 160px;
}
.half-width a{
    color: white;
    text-decoration: none;
    margin-left: 156px;
    border: 5px 10px solid;
    background-color: #E02C6D;
    padding: 10px 20px;
    border-radius: 25px;
    transition: font-size 1s;
}
.half-width a:hover{
    font-size: 150%;
}
.half-width img{
    width: 556.01px;
    height: 438px;
    margin-top: 153px;
}
/* -------------------
header style end
--------------------*/
/* ------------------
blog style start
-------------------- */
.container{
    width: 76%;
    margin-top: 43px;
    margin-left: 180px;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.blog{
    border: 2px solid white;
    background-color: white;
    width: 77%;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    margin-top: 27px;
    padding: 15px;
    border-radius: 10px;
}
.thumbnail img{
    width: 259px;
    height: 180px;
    border-radius: 5px;
    margin-bottom: 8px
}
.blog-title{
    margin: 0;
}
.blog-detail{
    font-weight: 100;
}
/* -----------------------
blog style end
------------------------ */
/* -----------------------
news style start
------------------------ */
.section-name{
    color: #2D25A0;
    font-size:35px;
}
.news-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.news-item{
    background-color: white;
    border: 2px solid white;
    width: 77%;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}
.headline{
    margin: 0%;
}
.headline{
    margin-bottom: 10px;
}
.news-info a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 900;
}
/* -------------------
news style end
---------------------- */
/* -------------------
top goal scorer style start
---------------------- */
.table-container{
    margin-top: 43px;
    margin-left: 180px;
}
.top-goal-scorer{
    width: 84%;
}
table{
    border-collapse: collapse;
    width: 100%;
}
td, th{
    border: 3px solid grey;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
